<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="2.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AnimeL</name>
    <description>Sample Apache Cordova App</description>
    <icon src="www/img/logo.png" platform="android" density="mdpi" />
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <plugin name="cordova-plugin-inappbrowser" spec="^6.0.0" />
</widget>
